[Unit]
Description=server
Requires=After=mysql.service

[Service]
WorkingDirectory=/opt/app/
ExecStart=/usr/bin/node /opt/app/server.js
Restart=always

[Install]
WantedBy=multi-user.target
